/*  Login  */

.formulario {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  border: 3px solid #ce477f;
}
.formulario h4 {
  color: #ce477f;
  margin: 10px 0px 5px 0px;
}
.saldacao {
  color: #ce477f;
  font-size: 25px;
  margin-bottom: 10px;
  align-self: center;
  margin-top: 10px;
}
.formulario .campo {
  border: 2px solid #32c9cd;
  border-radius: 4px;
  padding: 3px 2px 3px 2px;
  margin: 0px 0px 10px 10px;
}
.botoes {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.botao1 {
  border: 2px solid #ce477f;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  color: aliceblue;
  background-color: #ce477f;
  cursor: pointer;
}
.botao2 {
  border: 2px solid #ce477f;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  color: #ce477f;
  background-color: white;
  cursor: pointer;
}
